<f:layout name="Default"/>
<f:section name="Main">

    <main role="main">

        <f:render partial="Jumbotron" arguments="{jumbotronContent: content.jumbotron}"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:for each="{content.main.records}" as="contentElement">
                        <f:for each="{content.main.records}" as="record">
                            <f:render partial="SingleContent" arguments="{record: record}"/>
                        </f:for>
                    </f:for>
                </div>
            </div>
        </div>

    </main>

</f:section>
