<f:layout name="Layout"/>
<f:section name="Main">
    <f:render partial="Jumbotron" arguments="{_all}"/>
    <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="h-100 p-5 text-bg-white">
                    <h2>Page content</h2>
                    <p>The content of each page can be displayed here. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="h-100 p-5 bg-body-tertiary">
                    <h2>Sidebar </h2>
                    <p>Place for some shared content</p>
                </div>
            </div>
        </div>
    </div>
</f:section>
