<f:layout name="Default"/>
<f:section name="Main">

    <main role="main">
        <f:render partial="Jumbotron" arguments="{records: content.jumbotron.records}"/>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <f:render partial="Content" arguments="{records: content.main.records}"/>
                </div>
                <div class="col-12 col-md-4">
                    <f:render partial="Content" arguments="{records: content.sidebar.records}"/>
                </div>
            </div>
        </div>

    </main>

</f:section>
