<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <f:for each="{mainNavigation}" as="mainNavigationItem">
                <li class="nav-item {f:if(condition: mainNavigationItem.active, then:'active')}">
                    <a class="nav-link"
                       href="{mainNavigationItem.link}"
                       target="{mainNavigationItem.target}"
                       title="{mainNavigationItem.title}"
                    >
                        {mainNavigationItem.title}
                    </a>
                </li>
            </f:for>
        </ul>
    </div>
</nav>
