<f:for each="{content.jumbotron.records}" as="record">
    <div class="container">
        <div class="p-5 mb-4 bg-body-tertiary">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{record.header}</h1>
                <p class="col-md-8 fs-4"><f:format.html>{record.bodytext}</f:format.html></p>
                <button class="btn btn-dark btn-lg" role="button" href="#" id="exampleButton">Example button</button>
            </div>
        </div>
    </div>
</f:for>
